{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
	
	<head>
		<meta charset="UTF-8"/>
		<title>{% trans "Students Accounting Service" %} - {% block meta_title %}{% endblock meta_title %}</title>
		<meta name="description"
			  value="{% trans 'App to manage students database' %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!-- Style Section -->
		<!-- <link rel="stylesheet"
			  href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css" > -->
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" >

		<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css"> -->
		<link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}" >

		<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"> -->
		<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
		
		<link rel="stylesheet" href="{{ PORTAL_URL2 }}{% static "css/main.css" %}" />

		{% block extra_css %}{% endblock extra_css %}
		
	</head>
	
	<body>
		<!-- Start Container -->
		<div class="container">
			
			<!-- Start Header -->
			<div class="row" id="header">
				
				<!-- Logo -->
				<div class="col-xs-8">
					{% block logo %}
					<h1>{% trans 'Students Accounting Service' %}</h1>
					{% endblock logo %}
				</div>
				
				<!-- Groups Selector -->
				<div class="col-xs-4" id="group-selector">
					<strong>{% trans "Group:" %}</strong>
					<select>
						<option value="">{% trans "All students" %}</option>
						{% for group in GROUPS %}
						<option value="{{ group.id }}"{% if group.selected %}selected="1"{% endif %}>{{ group.title }}{% if group.leader %}, {{ group.leader }}{% endif %}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<!-- End Header -->
			
			<!-- Start SubHeader -->
			<div class="row" id="sub-header">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" role="tablist">
						
						<li role="presentation" {% url 'home' as the_url_home %}{% if request.path == the_url_home %}class="active"{% endif %}>
							<a href="{% url "home" %}" class="tab">{% trans 'Students' %}</a>
						</li>
						<li role="presentation" {% url 'journal' as the_url_journal %}{% if the_url_journal in request.path %}class="active"{% endif %}>
							<a href="{% url "journal" %}" class="tab">{% trans 'Journal' %}</a>
						</li>
						<li role="presentation" {% url 'groups' as the_url_groups %}{% if the_url_groups in request.path %}class="active"{% endif %}>
							<a href="{% url "groups" %}" class="tab">{% trans 'Groups' %}</a>
						</li>
						<li role="presentation" {% url 'exams' as the_url_exams %}{% if the_url_exams in request.path %}class="active"{% endif %}>
							<a href="{% url "exams" %}" class="tab">{% trans 'Exams' %}</a>
						</li>
						<li role="presentation" {% url 'results' as the_url_results %}{% if the_url_results in request.path %}class="active"{% endif %}>
							<a href="{% url "results" %}" class="tab">{% trans 'Result of exams' %}</a>
						</li>
						<li role="presentation" {% url 'contact_admin' as the_url_c_a %}{% if the_url_c_a in request.path %}class="active"{% endif %}>
							<a href="{% url "contact_admin" %}" class="tab">{% trans 'Contact' %}</a>
						</li>
						<li role="presentation" {% url 'log' as the_url_log %}{% if the_url_log in request.path %}class="active"{% endif %}>
							<a href="{% url 'log' %}" class="tab">{% trans 'Log of events' %}</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- End SubHeader -->
			
			<!-- Start Main Page Content -->
			<div class="row" id="content-colomns">
				<div class="col-xs-12">
					
					<!-- Status Message -->
					{% block status_message %}
					
					<!-- {% comment 'message' %}
					{% if request.GET.status_message %}
					<div class="alert alert-warning">{{ request.GET.status_message }}</div>
					{% endif %}
					{% endcomment %} -->

					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-warning">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
					
					{% endblock %}
				</div>
			</div>

			<div class="row">
					<div class="col-xs-4" id="content-column"><h2>{% block title %}{% endblock title %}</h2></div>
					{% block add_btn %}{% endblock add_btn %}
					{% block data %}{% endblock data %}
					
			</div>

			<div class="row" id="content-colomn">	
				<div class="col-xs-12">	
					<div class="alert alert-info" id="spinner">
						<p>{% trans 'Work goes on...' %}</p>
						<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
						<img src="{% static "img/ajax-loader.gif" %}">
					</div>
					{% block content %}{% endblock content %}
				</div>
			</div>
			
			<!-- End Main Page Content -->
			
			<!-- Start Footer -->
			<div class="row" id="footer">
				<div class="col-xs-12">
				{% block footer %}
					&copy; 2016 {% trans 'Students Accounting Service' %}
				{% endblock footer %}
				</div>
			</div>
			<!-- End Footer -->
			
		</div>
		<!-- End Container -->

		<!-- Modal Boilerplate -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
			 aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><!-- --></h4>
		      </div>
		      <div class="modal-body"><!-- --></div>
		      <div class="modal-footer"><!-- --></div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- Modal Job is going! -->
		<div class="modal fade" id="modal_job" tabindex="-1" role="dialog" 
			 aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><!-- --></h4>
		      </div>
		      <div class="modal-body">
		      	<div class="alert alert-info" id="spinner_job">
					<p>{% trans 'Work goes on...' %}2</p>
					<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
				</div>
		      </div>
		      <div class="modal-footer"><!-- --></div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!-- JavaScript Section -->
		<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script> -->
		<script src="{% static "js/jquery.js" %}"></script>

		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script> -->
		<script src="{% static "js/moment.min.js" %}"></script>

		<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> --> <!-- For Modal windows -->
		<script src="{% static "js/jquery.form.min.js" %}"></script> <!-- For Modal windows -->

		<script src="{% static "js/jquery.cookie.js" %}"></script>

		<!-- <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
		<script src="{% static "js/bootstrap.min.js" %}"></script>

		<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script> -->
		<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>

		<script src="{% static "js/uk.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
		{% block extra_js %}{% endblock extra_js %}
	</body>
	
</html>
