{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Облік Відвідування{% endblock title %}

{% block data %}
	<div class="col-xs-12">
    	<h5 id="date"><a href="#">&larr;</a>{{ month }}<a href="#">&rarr;</a></h5>
    </div>
{% endblock data %}

{% block content %}
	<!-- Start Students' Visiting Listing -->
	<table class="table table-hover table-striped table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Студент</th>
				{% for day in days %}
					<th>{{ day }}<br>{{ forloop.counter }}</br></th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			
			{% for student in visiting %}
			<tr>
				<td>{{ forloop.counter }}</td>
				
				<td><a href="{% url "students_edit" student.id %}">{{ student }}</a></td>
				
				{% for i in days %}
				<td>
					<div class="checkbox">
						<label><input type="checkbox"></label>
					</div>
				</td>
				{% endfor %}
				
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- End Students' Visiting Listing -->
{% endblock content %}
