{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load switch %}

{% block meta_title %}Журнал подій{% endblock meta_title %}

{% block title %}Журнал подій{% endblock title %}


{% block status_message %}
{% endblock status_message %}

{% block content %}
<table class="table table-hover">
	{% with order_by=request.GET.order_by reverse=request.GET.reverse page=request.GET.page %}
	<thead>
		<tr>
			<th><a href="{% url "log" %}?page=1&amp;order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
				id
				{% if order_by == 'id' and reverse != '1' %}&uarr;
				{% elif order_by == 'id' and reverse == '1' %}&darr;
				{% endif %}
			</a></th>
			<th>
				level
			</th>
			<th>
				date and time
			</th>
			<th><a href="{% url "log" %}?page=1&amp;order_by=module{% if order_by == 'module' and reverse != '1' %}&amp;reverse=1{% endif %}">
				module
				{% if order_by == 'module' and reverse != '1' %}&uarr;
				{% elif order_by == 'module' and reverse == '1' %}&darr;
				{% endif %}
			</a></th>
			<th><a href="{% url "log" %}?page=1&amp;order_by=message{% if order_by == 'message' and reverse != '1' %}&amp;reverse=1{% endif %}">
				message
				{% if order_by == 'message' and reverse != '1' %}&uarr;
				{% elif order_by == 'message' and reverse == '1' %}&darr;
				{% endif %}
			</a></th>
		</tr>
	</thead>
	{% endwith %}
	<!-- Table Body -->
	<tbody>
		{% for entry in entries %}
		<tr {% switch entry.level %}
				{% case 'DEBUG' %}
					class="success"
				{% endcase %}
				{% case 'INFO' %}
					class="info"
				{% endcase %}
				{% case 'WARNING' %}
					class="active"
				{% endcase %}
				{% case 'ERROR' %}
					class="warning"
				{% endcase %}
				{% case 'CRITICAL' %}
					class="danger"
				{% endcase %}
			{% endswitch %}>
			<th>{{ entry.id }}</th>
			<td>{{ entry.level }}</td>
			<td>{{ entry.asctime }}</td>
			<td>{{ entry.module }}</td>
			<td>{{ entry.message }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% with object_list=entries %}
	{% include "students/pagination.html" %}
{% endwith %}

{% endblock content %}
