{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans 'Add student' %}{% endblock meta_title %}

{% block title %}{% trans 'Add student' %}{% endblock title %}

{% comment "msg" %}
<!-- {% block status_message %}
  {% if errors %}
  <div class="alert alert-warning" role="alert">
  	{% trans 'Please, fix errors' %}
  </div>
  {% endif %}
{% endblock status_message %} -->
{% endcomment %}

{% block content %}

	<form action="{% url "students_add" %}" method="post"
		  enctype="multipart/form-data" role="form" class="form-horizontal">

		{% csrf_token %}
		<div class="form-group {% if errors.first_name %}has-error{% endif %}">
			<label for="first_name" class="col-sm-2 control-label">{% trans 'Name' %}*</label>
			<div class="col-sm-10">
				<input type="text" value="{{ request.POST.first_name }}"
					   name="first_name" id="first_name" class="form-control" 
					   placeholder={% trans "Your Name" %} />
				<span class="help-block">{{ errors.first_name }}</span>
		   	</div>
		</div>
		<div class="form-group {% if errors.last_name %}has-error{% endif %}">
			<label for="last_name" class="col-sm-2 control-label">{% trans 'Surname' %}*</label>
			<div class="col-sm-10">
				<input type="text" value="{{ request.POST.last_name }}"
					   name="last_name" id="last_name" class="form-control" 
					   placeholder={% trans 'Input your name' %} />
				<span class="help-block">{{ errors.last_name }}</span>
			</div>
		</div>
		<div class="form-group {% if errors.middle_name %}has-error{% endif %}">
			<label for="middle_name" class="col-sm-2 control-label">{% trans 'Middle Name' %}</label>
			<div class="col-sm-10">
				<input type="text" value="{{ request.POST.middle_name }}"
					   name="middle_name" id="middle_name" class="form-control" 
					   placeholder={% trans 'Middle Name ' %} />
				<span class="help-block">{{ errors.middle_name }}</span>
			</div>
		</div>
		<div class="form-group {% if errors.birthday %}has-error{% endif %}">
			<label for="birthday" class="col-sm-2 control-label">{% trans 'Date of birth' %}*</label>
			<div class="col-sm-10">
				<input type="text" value="{{ request.POST.birthday }}"
					   name="birthday" id="birthday" class="form-control" 
					   placeholder={% trans "E.g. 1984-12-30" %} />
				<span class="help-block">{{ errors.birthday }}</span>
			</div>
		</div>
		<div class="form-group {% if errors.photo %}has-error{% endif %}">
			<label for="photo" class="col-sm-2 control-label">{% trans 'Photo' %}</label>
			<div class="col-sm-10">
				<input type="file" value="" name="photo" id="photo"
					   placeholder={% trans 'Your photo' %} class="form-control" />
				<span class="help-block">{{ errors.photo }}</span>
			</div>
		</div>
		<div class="form-group {% if errors.ticket %}has-error{% endif %}">
			<label for="ticket" class="col-sm-2 control-label">{% trans 'Ticket' %}*</label>
			<div class="col-sm-10">
				<input type="text" value="{{ request.POST.ticket }}"
					   name="ticket" id="ticket" class="form-control" 
					   placeholder={% trans 'Nomber of your ticket' %} />
				<span class="help-block">{{ errors.ticket }}</span>
			</div>
		</div>
		<div class="form-group {% if errors.student_group %}has-error{% endif %}">
			<label for="student_group" class="col-sm-2 control-label">{% trans 'Group' %}*</label>
			<div class="col-sm-10">
				<select name="student_group" id="student_group"
						class="form-control">
					<option value="">{% trans 'Choose group' %}</option>
					{% for group in groups %}
						<option value="{{ group.id }}" {% if group.id == request.POST.student_group|add:0 %}selected="1"{% endif %}>{{ group.title }}</option>
					{% endfor %}
				</select>
				<span class="help-block">{{ errors.student_group }}</span>
			</div>
		</div>
		<div class="form-group {% if errors.study_start %}has-error{% endif %}">
			<label for="study_start" class="col-sm-2 control-label">{% trans 'Study begin' %}*</label>
			<div class="col-sm-10">
				<input type="text" value="{{ request.POST.study_start }}"
					   name="study_start" id="study_start" class="form-control" 
					   placeholder={% trans "E.g. 2014-09-01" %} />
				<span class="help-block">{{ errors.study_start }}</span>
			</div>
		</div>
		<div class="form-group {% if errors.notes %}has-error{% endif %}">
			<label for="notes" class="col-sm-2 control-label">{% trans 'Notes' %}</label>
			<div class="col-sm-10">
				<textarea name="notes" id="notes" class="form-control"
						  rows="2" placeholder={% trans 'Write smth you guess important' %}>{{ request.POST.notes }}
				</textarea>
				<span class="help-block">{{ errors.notes }}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input type="submit" value={% trans 'Add' %} name="add_button"
					   class="btn btn-primary" />
				<button type="submit" name="cancel_button"
						class="btn btn-link">{% trans 'Create' %}</button>
			</div>
		</div>
	</form>

{% endblock content %}
