{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans 'Delete Students' %}{% endblock meta_title %}

{% block title %}{% trans 'Delete Students' %}{% endblock title %}

{% block status_message %}
  {% if messages %}
  <div class="alert alert-warning" role="alert">
  	{% trans 'Please correct next errors' %}
  </div>
  {% endif %}

{{ block.super }}

{% endblock status_message %}

{% block content %}

{% if not students %}
<p id="neither_stud">{% trans 'You did not choose neither student!' %}</p>

{% else %}
<form action="{% url "students_delete_mult" %}" method="post">
	{% csrf_token %}
	<p>{% trans 'Do you really want to remove defined students?' %}</p>
	<ul>
		{% for student in students %}
		<li>
		{{ student }}
		<input type="checkbox" name="{{ student.id }}" value="{{ student.id }}" checked="1" />
		</li>
		{% endfor %}
	</ul>
	<input type="submit" value="{% trans 'Yes' %}" name="delete_button_confirm" class="btn btn-danger" /><br /><br />
</form>
{% endif %}

{% endblock content %}
