/* Global Style */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.alert {
	margin-top: 10px;
}

#footer {
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}

#group-selector {
	margin: 10px 0;
}

#group-selector select {
	margin: 0;
	width: 85%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

#stud {
	margin: 10px 0px;
	padding: 10px 0px;
}
/*Form Style*/
textarea,
select,
input {
	max-width: 300px;
}

#photo {
	padding-top: 0px ;
}

/* Journal Table Styles */
td.day-box,
th.day-header {
	padding: 4px !important;
	vertical-align: middle !important;
	text-align: center;
}

#ajax-progress-indicator {
	display: none;
}

#presence_error {
	display: none;
}

#spinner, #spinner_job {
	display: none;
}

#logtable * {
	border: 1px solid green;
}

.lang {
	vertical-align: middle;
	margin: 10px 0;
}

/* User's Toolbar */
#user-toolbar {
	margin-top: 30px;
	text-align: right;
}

/** {
	border: 1px solid red;
}*/
