<!DOCTYPE html>
<html lang="uk">
	
	<head>
		<meta charset="UTF-8"/>
		<title>Сервіс Обліку Студентів</title>
		<meta name="description"
			  value="Система Обліку Студентів Навчального Закладу" />
		
		<!-- Style Section -->
		<link rel="stylesheet"
			  href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css" >
		<link rel="stylesheet" href="./css/visiting.css" />
		
	</head>
	
	<body>
		
		<!-- Start Container -->
		<div class="container">
			
			<!-- Start Header -->
			<div class="row" id="header">
				
				<!-- Logo -->
				<div class="col-xs-8">
					<h1>Сервіс Обліку Студентів</h1>
				</div>
				
				<!-- Groups Selector -->
				<div class="col-xs-4" id="group-selector">
					<strong>Група:</strong>
					<select>
						<option value="">Усі Студенти</option>
						<option value="">МтМ - 21, Подоба Віталій (№ 254)</option>
						<option value="">МтМ - 22, Корост Андрій (№ 2123)</option>
					</select>
				</div>
			</div>
			<!-- End Header -->
			
			<!-- Start SubHeader -->
			<div class="row" id="sub-header">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation"><a href="#">Студенти</a></li>
						<li role="presentation" class="active"><a href="#">Відвідування</a></li>
						<li role="presentation"><a href="#">Групи</a></li>
					</ul>
				</div>
			</div>
			<!-- End SubHeader -->
			
			<!-- Start Main Page Content -->
			<div class="row">
				<div class="col-xs-12"><h2>Облік Відвідування</h2></div>
                <div class="col-xs-12">
                	<h5 id="date"><a href="#">&larr;</a>Жовтень 2014<a href="#">&rarr;</a></h5>
                </div>
			</div>
			
			<div class="row" id="content-colomns">
				<div class="col-xs-12" id="content-colomn">
					
					<!-- Start Groups Listing -->
					<table class="table table-hover table-striped table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Студент</th>
								<th>Ср<br>1</br></th>
								<th>Чт<br>2</br></th>
								<th>Пт<br>3</br></th>
								<th>Сб<br>4</br></th>
								<th>Нд<br>5</br></th>
								<th>Пн<br>6</br></th>
								<th>Вт<br>7</br></th>
								<th>Ср<br>8</br></th>
								<th>Чт<br>9</br></th>
								<th>Пт<br>10</br></th>
								<th>Сб<br>11</br></th>
								<th>Нд<br>12</br></th>
								<th>Пн<br>13</br></th>
								<th>Вт<br>14</br></th>
								<th>Ср<br>15</br></th>
								<th>Чт<br>16</br></th>
								<th>Пт<br>17</br></th>
								<th>Сб<br>18</br></th>
								<th>Нд<br>19</br></th>
								<th>Пн<br>20</br></th>
								<th>Вт<br>21</br></th>
								<th>Ср<br>22</br></th>
								<th>Чт<br>23</br></th>
								<th>Пт<br>24</br></th>
								<th>Сб<br>25</br></th>
								<th>Нд<br>26</br></th>
								<th>Пн<br>27</br></th>
								<th>Вт<br>28</br></th>
								<th>Ср<br>29</br></th>
								<th>Чт<br>30</br></th>
								<th>Пт<br>31</br></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td><a href="#">Віталій Подоба</a></td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
							</tr>
							
							<tr>
								<td>2</td>
								<td><a href="#">Корост Андрій</a></td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
							</tr>
							
							<tr>
								<td>3</td>
								<td><a href="#">Притула Тарас</a></td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
								<td>
									<div class="checkbox">
    									<label><input type="checkbox"></label>
      								</div>
      							</td>
							</tr>
							
						</tbody>
					</table>
					<!-- End Groups Listing -->
				</div>
			</div>
			<!-- End Main Page Content -->
			
			<!-- Start Footer -->
			<div class="row" id="footer">
				<div class="col-xs-12">
					&copy; 2015 Сервіс Бази Студентів
				</div>
			</div>
			<!-- End Footer -->
		</div>
		<!-- End Container -->
		
		<!-- JavaScript Section -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	</body>
</html>
