{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans 'Contact to admin' %}{% endblock meta_title %}

{% block title %}{% trans 'Contact to admin' %}{% endblock title %}


{% block status_message %}

{% if form.errors %}
	<div class="alert alert-warning" role="alert">
		{% trans 'Please correct next errors!' %}
	</div>
{% endif %}

{{ block.super }}

{% endblock %}


{% block content %}
{% trans 'We received your message and will get back to you.' %}
{% endblock content %}
